{% extends "1 structure.html" %}
<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->
{% block head %} {% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->

<!----------------------------------------------------------JAVASCRIPT INTIT-->
{% block jsInit %} {% endblock %}

<!--------------------------------------------------------------------HEADER-->
{% block header %}
	{{ html.itemListRender(__HEAD__['items'], lang)|safe }}

{% endblock %}

<!--------------------------------------------------------------------NAVBAR-->
{% block navbar %}
   	{{ html.itemListRender(__NAVB__['items'], lang)|safe }}

{% endblock %}

<!----------------------------------------------------------FLASHED-MESSAGES-->

<!-------------------------------------------------------------------CONTENT-->
{% block content %}{% endblock %}

<!--------------------------------------------------------------------TIRAGE-->

<!------------------------------------------------------------INITIALISATION-->
{% block jsEnd %}{% endblock %}

<!---------------------------------------------------------------------------->
</body>
</html>
<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
