<!DOCTYPE html>
<html>
<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->
<head>
    <meta   http-equiv="Content-Type"      content="text/html; charset=UTF-8">
    <meta   name="META HTTP-EQUIV"         content="NO-CACHE">
    <meta   name="author"                  content="Palo4">
    
    <link   href="{{url_for('static', filename='css/paragraph.css')}}" rel="stylesheet" type="text/css">
    <link   href="{{url_for('static', filename='css/base.css'     )}}" rel="stylesheet" type="text/css">

    <script src= "{{url_for('static', filename='js/base.js' )}}" type="text/javascript"></script>

    {% block head %}{% endblock %}
    
    <title>{{title}}</title>
</head>

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->
<body>
    <!----------------------------------------------------------------HEADER-->
    <div class="Header" id="Header" onclick="ShowElement('Content')">
    
        <div class="HeaderTitle" id="HeaderTitle">
            <h1>{{head_title}}</h1>
        </div>
        <div class="HeaderComment" id="HeaderComment">
            <p>{{head_comment}}</p>
        </div>
        <h4>{{head_subtitle}}</h4>
    </div>

    <!----------------------------------------------------------------NAVBAR-->
    <div class="BarMenu" id="BarMenu">
    
        <div class="BarMenuItem" id="BarMenuUser" onclick="ShowElement('Login')">
            {{user}}
        </div>




    </div>

    <!------------------------------------------------------FLASHED-MESSAGES-->
    <div class="Flash" id="Flash" style="height:{{height}}px; display:none">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>

        <script>InitElement("Flash")</script>
        {% endif %}
        {% endwith %}
    </div>

    <!-----------------------------------------------------------------LOGIN-->
    <div class="Login" id="Login" style="height:{{height}}px; display:none">

      <form class="center" action="" method="post" novalidate>
          {{ formLogin.hidden_tag() }}
          <p>
              {{ formLogin.username.label }}<br>
              {{ formLogin.username(class_="ObjectInputString", size=32) }}<br>

              {% if len(formLogin.username.errors)>0 %}
              
                  {% for error in formLogin.username.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  
                  <script>InitElement("Login")</script>
                  
              {% endif %}
          </p>
          <p>
              {{ formLogin.password.label }}<br>
              {{ formLogin.password(size=32) }}<br>

              {% if len(formLogin.password.errors)>0 %}

                  {% for error in formLogin.password.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  
                  <script>InitElement("Login")</script>
                  
              {% endif %}
          </p>
          <p>{{ formLogin.remember() }} {{ formLogin.remember.label }}</p>
          <p>{{ formLogin.submit() }}</p>
      </form>
    </div>
    
    <!---------------------------------------------------------------CONTENT-->
    <div class="Stage" id="Content" style="height:{{height}}px; display:none">
    {% block content %}{% endblock %}
    </div>

    <!----------------------------------------------------------------TIRAGE-->
    <div class="Tirage" onclick="ShowElement('Content')">
    
        <div class="TirageItem" style="width:40%" ></div>
    
        <div class="TirageItem" id="TI_1">
            <a href="PagMan/pages/Author.php">O autorovi</a>
        </div>
    
        <div class="TirageItem" id="TI_2">
            <a href="PagMan/pages/FAQ.php">F.A.Q.</a>
        </div>
    
        <div class="TirageItem" id="TI_3">
            <a href="PagMan/pages/Admin.php">O autorovi</a>
        </div>
    </div>
    
<!------------------------------------------------------------INITIALISATION-->
<script>ShowInit()</script> 

<!---------------------------------------------------------------------------->
</body>
</html>
<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
