<!DOCTYPE html>
<html>
<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->
<head>
    <meta   http-equiv="Content-Type"      content="text/html; charset=UTF-8">
    <meta   name="META HTTP-EQUIV"         content="NO-CACHE">
    <meta   name="author"                  content="Palo4">
    
    <link   href="{{url_for('static', filename='css/paragraph.css')}}" rel="stylesheet" type="text/css">
    <link   href="{{url_for('static', filename='css/base.css'     )}}" rel="stylesheet" type="text/css">

    <script src= "{{url_for('static', filename='js/base.js' )}}" type="text/javascript"></script>

    {% block head %}{% endblock %}
    
    <title>{{title}}</title>
</head>

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->
<body>
    <!------------------------------------------------------JAVASCRIPT INTIT-->
    <script>InitElement("{{initId}}")</script>
    {% block js %}{% endblock %}

    <!----------------------------------------------------------------HEADER-->
    <div class="Header" id="Header" onclick="ShowElement('Content')">
    
        <div class="HeaderTitle" id="HeaderTitle">
            <h1>{{__HEAD__['res']['Title'][lang]}}</h1>
        </div>
        <div class="HeaderComment" id="HeaderComment">
            <p>{{__HEAD__['res']['Comment'][lang]}}</p>
        </div>
        <h4>{{__HEAD__['res']['SubTitle'][lang]}}</h4>
    </div>

    <!----------------------------------------------------------------NAVBAR-->
    <div class="BarMenu" id="BarMenu">
    
        {% for barKey, barItem in __NAVB__['res'].items() %}
        
            <div class="BarMenuItem" id="{{barKey[]}}">
		        <a href="{{barItem['URL']}}">{{barItem['SK']}}</a>
            </div>

		{% endfor %}
    </div>

    <!------------------------------------------------------FLASHED-MESSAGES-->
    <div class="Flash" id="Flash" style="height:{{height}}px; display:none">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>

        <script>InitElement("Flash")</script>
        {% endif %}
        {% endwith %}
    </div>

    <!---------------------------------------------------------------CONTENT-->
    <div class="Content" id="Content" style="height:{{height}}px; display:none">
        {% block content %}{% endblock %}
    </div>

    <!----------------------------------------------------------------TIRAGE-->
    <div class="Tirage" onclick="ShowElement('Content')">
    
        <div class="TirageItem" style="width:40%" ></div>
    
        <div class="TirageItem" id="TI_1">
            <a href="PagMan/pages/Author.php">O autorovi</a>
        </div>
    
        <div class="TirageItem" id="TI_2">
            <a href="PagMan/pages/FAQ.php">F.A.Q.</a>
        </div>
    
        <div class="TirageItem" id="TI_3">
            <a href="PagMan/pages/Admin.php">O autorovi</a>
        </div>
    </div>
    
<!------------------------------------------------------------INITIALISATION-->
<script>ShowInitElement()</script> 

<!---------------------------------------------------------------------------->
</body>
</html>
<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
