{% extends "base.html" %}

<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->

{% block head %}

    <link   href="{{url_for('static', filename='css/page.css' )}}" rel="stylesheet" type="text/css">
    <script src= "{{url_for('static', filename='js/page.js'   )}}" type="text/javascript"></script>

{% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->
<body>
    <!----------------------------------------------------------------NAVBAR-->
    {% block barMenu %}{% endblock %}

    <!---------------------------------------------------------------CONTENT-->
    {% block content %}

        <!----------------------------------------------------STAGE-SELECTOR-->
        <div class="StageSelector">
		
    	    {% for stageId, stage in __STAG__['objs'].items() %}
        	    {% for objId, obj in stage['objs'].items() %}

                    {% if objId.startswith('SName') %}
					
    		            {{ itemListRender(obj['items'], lang)|safe }}
                    
					{% endif %}
                {% endfor %}
            {% endfor %}

        </div>

        <!-----------------------------------------------------STAGE-CONTENT-->
   	    {% for stageId, stage in __STAG__['objs'].items() %}
       	    {% for objId, obj in stage['objs'].items() %}

                {% if objId.startswith('SCont') %}
					
   		            {{ itemListRender(obj['items'], lang)|safe }}
                    
				{% endif %}
            {% endfor %}
        {% endfor %}

    {% endblock %}

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
