{% extends "base.html" %}

<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->

{% block head %}

    <link   href="{{url_for('static', filename='css/page.css' )}}" rel="stylesheet" type="text/css">
    <script src= "{{url_for('static', filename='js/page.js'   )}}" type="text/javascript"></script>

{% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->
<body>
    <!----------------------------------------------------------------NAVBAR-->
    {% block barMenu %}{% endblock %}

    <!---------------------------------------------------------------CONTENT-->
    {% block content %}

        <!----------------------------------------------------STAGE-SELECTOR-->
        <div class="StageSelector">

            {% for stage, stageDef in __STAG__['obj'].items() %}
			
                {% for ncSel, res in stageDef['obj'].items() %}

                    {% if ncSel.startswith('SName') %}

                        {% for id, item in res['res'].items() %}

                            <div class="StageSelectorItem">
                                <input type="radio" name="SSB" id="{{id}}" value="{{item['POS']}}" onclick="ShowStage('{{item['POS']}}')">
                                <label for={{id}}>{{item[lang]}}</label><br>
                            </div>

                        {% endfor %}
                    {% endif %}                     
                {% endfor %}
            {% endfor %}

        </div>

        <!-----------------------------------------------------STAGE-CONTENT-->
        {% for stage, stageDef in __STAG__['obj'].items() %}
 


        {% endfor %}

    {% endblock %}

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
