{% extends "base.html" %}

<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->

{% block head %}

    <link   href="{{url_for('static', filename='css/page.css' )}}" rel="stylesheet" type="text/css">
    <script src= "{{url_for('static', filename='js/page.js'   )}}" type="text/javascript"></script>

{% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->
<body>
    <!----------------------------------------------------------------NAVBAR-->
    {% block barMenu %}{% endblock %}

    <!---------------------------------------------------------------CONTENT-->
    {% block content %}

        <!----------------------------------------------------STAGE-SELECTOR-->
        <div class="StageSelector">
		
		    {% for selKey, selItem in stages['sels'].items() %}
		
    		    {{ renderItem(selItem, lang)|safe }}

            {% endfor %}

        </div>

        <!-----------------------------------------------------STAGE-CONTENT-->
        {% for contKey, contItem in stages['cnts'].items() %}

    		    {{ renderItem(contItem, lang)|safe }}


        {% endfor %}

    {% endblock %}

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
