<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                                          -->
<!--                                                                        -->
<!-- ver. 1.02                                                              -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->
{% extends "1 structure.html" %}
<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->
{% block head %} {% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->

<!----------------------------------------------------------JAVASCRIPT INTIT-->
{% block jsInit %} {% endblock %}

<!--------------------------------------------------------------------HEADER-->
{% block header %}


	{{ html.itemListRender(__HEAD__['HeadItems'], lang)|safe }}

{% endblock %}

<!--------------------------------------------------------------------NAVBAR-->
{% block navbar %}

   	{{ html.itemListRender(__NAVB__['NavLinks'], lang)|safe }}

{% endblock %}

<!----------------------------------------------------------FLASHED-MESSAGES-->

<!-------------------------------------------------------------------CONTENT-->
{% block content %}{% endblock %}

<!--------------------------------------------------------------------TIRAGE-->

<!------------------------------------------------------------INITIALISATION-->
{% block jsEnd %}{% endblock %}

<!---------------------------------------------------------------------------->

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
