<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                                          -->
<!--                                                                        -->
<!-- ver. 1.02                                                              -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->
{% extends "2 navBar.html" %}

<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->

{% block head %}

    <script src= "{{url_for('static', filename='js/object.js' )}}" type="text/javascript"></script>

{% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->
<body>
    <!---------------------------------------------------------------CONTENT-->
    {% block content %}

        <!--Zobraz dany CONTENT -->
        {{ html.objectsRender(__CONT__, lang)|safe }}
        
                    
    {% endblock %}

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
