<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                                          -->
<!--                                                                        -->
<!-- ver. 1.02                                                              -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->
{% extends "2 navBar.html" %}

<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->

{% block head %}

    <script src= "{{url_for('static', filename='js/object.js' )}}" type="text/javascript"></script>

{% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->

    <!---------------------------------------------------------------CONTENT-->
    {% block content %}


    <!------------------------------------------------------------------------>
    <!--Vykreslenie Siblings/Changes                                        -->
    <!------------------------------------------------------------------------>
    <div class="Selector", style="height:100%; width:20%; display:block">

        <!--Prejdni vsetky Itemy vo zozname siblingov-->
        {% for itemId, itemLst in __SIBLINGS__.items() %}
        
            <!--Zobraz vsetky polozky pre dany item -->
            {{ html.itemListRender(itemLst, lang)|safe }}
        
        {% endfor %}
    
    </div>

    <!------------------------------------------------------------------------>
    <!--Vykreslenie Forum itemu                                             -->
    <!------------------------------------------------------------------------>
    <div class="ForumItem", style="height:100%; width:60%; display:block">

        <!--Prejdni vsetky Itemy vo ForumIteme-->
        {% for itemId, itemLst in __FORUM_ITEM__.items() %}
        
            <!--Zobraz vsetky polozky pre dany item -->
            {{ html.itemListRender(itemLst, lang)|safe }}
        
        {% endfor %}

    </div>

    <!------------------------------------------------------------------------>
    <!--Vykreslenie Siblings/Changes                                        -->
    <!------------------------------------------------------------------------>
    <div class="Selector", style="height:100%; width:20%; display:block">

        <!--Prejdni vsetky Itemy v zozname child-->
        {% for itemId, itemLst in __CHILDREN__.items() %}
        
            <!--Zobraz vsetky polozky pre dany item -->
            {{ html.itemListRender(itemLst, lang)|safe }}
        
        {% endfor %}

    </div>

    {% endblock %}

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
