<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                                          -->
<!--                                                                        -->
<!-- ver. 1.02                                                              -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->
{% extends "2 navBar.html" %}

<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->

{% block head %}

    <script src= "{{url_for('static', filename='js/object.js' )}}" type="text/javascript"></script>

{% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->
<body>
    <!----------------------------------------------------------------NAVBAR-->
    {% block barMenu %}{% endblock %}

    <!---------------------------------------------------------------CONTENT-->
    {% block content %}

        <!----------------------------------------------------ITEMS-SELECTOR-->
        <div class="ItemsSelector">
		

        </div>

        <!--------------------------------------------------------------ITEM-->
        <div class="Item">
		

        </div>
                    
    {% endblock %}

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
