<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                                          -->
<!--                                                                        -->
<!-- ver. 1.02                                                              -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->
{% extends "2 navBar.html" %}

<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->
{% block head %}

    <link   href="{{url_for('static', filename='css/page.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->

    <!---------------------------------------------------------------CONTENT-->
    {% block content %}
	
        <form class="center" action="" method="post" novalidate>
            {{ formLogin.hidden_tag() }}
            <p>
                {{ formLogin.username.label }}<br>
                {{ formLogin.username(class_="ObjectInputString", size=32) }}<br>

                {% if len(formLogin.username.errors)>0 %}
              
                    {% for error in formLogin.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                  
                    <script>InitElement("Content")</script>
                  
                {% endif %}
            </p>
            <p>
                {{ formLogin.password.label }}<br>
                {{ formLogin.password(size=32) }}<br>

                {% if len(formLogin.password.errors)>0 %}

                    {% for error in formLogin.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                  
                    <script>InitElement("Content")</script>
                  
                {% endif %}
            </p>
			
            <p>{{ formLogin.remember() }} {{ formLogin.remember.label }}</p>
            <p>{{ formLogin.conti(class_="LoginControlBtn") }}
               {{ formLogin.logout(class_="LoginControlBtn") }}
               {{ formLogin.login(class_="LoginControlBtn") }}</p>
        </form>

    {% endblock %}

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
