<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                                          -->
<!--                                                                        -->
<!-- ver. 1.02                                                              -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->
{% extends "2 navBar.html" %}

<!---------------------------------------------------------------------------->
<!-- Head -->
<!---------------------------------------------------------------------------->

{% block head %}

    <link   href="{{url_for('static', filename='css/page.css' )}}" rel="stylesheet" type="text/css">
    <script src= "{{url_for('static', filename='js/page.js'   )}}" type="text/javascript"></script>

{% endblock %}

<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->
<body>
    <!----------------------------------------------------------------NAVBAR-->
    {% block barMenu %}{% endblock %}

    <!---------------------------------------------------------------CONTENT-->
    {% block content %}

        <!----------------------------------------------------STAGE-SELECTOR-->
        <div class="StageSelector">
		
            <!--Prejdem vsetky stage-->
    	    {% for stageId, stageLst in __STAG__.items() %}
    	    
                <!--Stage selector je v 0-tej polozke zoznamu s klucom '0_StageName'-->
    		    {{ html.itemRender( stageLst[0]['0_StageName'], lang)|safe }}
                    
            {% endfor %}

        </div>

        <!-----------------------------------------------------STAGE-CONTENT-->

        <!--Prejdem vsetky stage-->
   	    {% for stageId, stageLst in __STAG__.items() %}
   	    
            <!--Zobrazitelne iemty su polozky 1..n v zozname-->
   	        {{ html.itemListRender(stageLst[1:], lang)|safe }}
                    
        {% endfor %}

    {% endblock %}

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
