<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                                          -->
<!--                                                                        -->
<!-- Object ForumItem                                                       -->
<!--                                                                        -->
<!-- ver. 1.02                                                              -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->

<!---------------------------------------------------------------------------->
<div class="DivForumItemStart", style="height:99%; width:60%">
<!---------------------------------------------------------------------------->

    <!--Prejdni vsetky Itemy vo ForumIteme-->
    {% for itemId, itemLst in __FORUM_ITEM__.items() %}
        
        <!--Zobraz vsetky polozky pre dany item -->
        {{ html.itemListRender(itemLst, lang)|safe }}
        
    {% endfor %}

<!---------------------------------------------------------------------------->
</div>
<!---------------------------------------------------------------------------->


<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
