<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                                          -->
<!--                                                                        -->
<!-- ver. 1.02                                                              -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->
<!---------------------------------------------------------------------------->

    //--------------------------------------------------------------------------
    // Vykreslenie textu
    //--------------------------------------------------------------------------
    $this->AddDivStart( 'F', 'DivItemStart', '99%', '58%' );

    // Odoberaj postupne vety z Itemu
    $str = array_item( $this->item, 'ITEM'  );
    $i   = 0;

    while ( ($para = NextStatement( $str, "\n" ) ) != '' ) {
  
      $this->AddPStart( 'F', 'item_'.$i.'_pStart' );
      $this->ShowPara ( $para, $i );
      $this->AddPStop ( 'F', 'item_'.$i.'_pStop' );
      
      $i = $i + 1;
    }

    $this->AddDivStop ( 'F', 'DivItemStop' );
    

<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
