<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                        ver. 1.02         -->
<!--                                                                        -->
<!-- Object                                                                 -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->

<!-- Object Form                                                            -->
echo '<form ', 
         html_attribute("method" , $method      ),
         html_attribute("action" , $action      ),
         html_attribute("ID"     , $ObjectID    ), 
         html_attribute("enctype", "multipart/form-data" ), 
         ">\n";

    <!-- Object Div                                                         -->
    echo ' <div ', 
       html_attribute("class",   $class       ),
       html_attribute("name",    $name        ), 
       html_attribute("ID",      $id          ),
       html_attribute("onclick", $onclick     ),
       html_attribute("style",  "height:$h; width:$w; top:$t ;left:$l ; float:$float" ),
       ">\n";
       
    divStart ( "Object", $this->obj, $this->obj.'_OS', '', $this->width );

        <!-- ObjectHeaderSpace Div                                          -->
        divStart( "ObjectHeaderSpace", 
                   $this->obj, 
                   $this->obj.'_HS',
                    '', '', '', '', 
                    "ObjectContentControl('$this->obj', '20' )" );

        p( $this->ResourceGet( 'ObjectName' ), "ObjectName" ); 

        divStop(); // divHeader
        
        <!-- ObjectBackSpace Div                                            -->
        divStart( "ObjectBackSpace", $this->obj, $this->obj.'_BS', '0px' );

        ShowBack( $stage, $action );

        divStop(); // divBack

        <!-- ObjectFrontSpace Div                                           -->
        divStart( "ObjectFrontSpace", $this->obj, $this->obj.'_FS', $this->height );
  
          ShowFront( $stage, $action );
  
        divStop(); // divFront

        <!-- ObjectControlSpace Div                                         -->
        divStart( "ObjectControlSpace", $this->obj, $this->obj.'_CS' );
          $this->ShowButtons();
  
        divStop(); 

    <!-- Object Div end                                                     -->
    divStop();

<!-- Object Form end                                                        -->
</form>

<!---------------------------------------------------------------------------->
<div class="DivForumItemStart", style="height:99%; width:60%">
<!---------------------------------------------------------------------------->

    <!--Prejdni vsetky Itemy vo ForumIteme-->
    {% for itemId, itemLst in __FORUM_ITEM__.items() %}
        
        <!--Zobraz vsetky polozky pre dany item -->
        {{ html.itemListRender(itemLst, lang)|safe }}
        
    {% endfor %}

<!---------------------------------------------------------------------------->
</div>
<!---------------------------------------------------------------------------->


<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->

//------------------------------------------------------------------------------
protected function ShowHeader()
{
  p( $this->ResourceGet( 'ObjectName' ), "ObjectName" ); 
}
//------------------------------------------------------------------------------
protected function ShowBack( $stage, $action )
{
  foreach( $this->items as $name=>$item ) 
    $this->ShowItem( $item, 'B',  $stage, $action  ); 
}
//------------------------------------------------------------------------------
protected function ShowFront( $stage, $action )
{
  foreach( $this->items as $name=>$item ) 
    $this->ShowItem( $item, 'F',  $stage, $action  ); 
}
//------------------------------------------------------------------------------
private function ShowButtons()
{
  foreach( $this->btns as $name=>$btn ) $this->ShowButton( $btn ); 
}
//------------------------------------------------------------------------------
