<!---------------------------------------------------------------------------->
<!-- Template for project SIQO web                                          -->
<!--                                                                        -->
<!-- ver. 1.02                                                              -->
<!--                                                                        -->
<!---------------------------------------------------------------------------->
<!-- Body -->
<!---------------------------------------------------------------------------->

<div class="DivSelectorStart", style="height:99%; width:20%">

    <!--Prejdni vsetky Itemy vo zozname-->
    {% for itemId, itemLst in selItems.items() %}
        
        <!--Zobraz vsetky polozky pre dany item -->
        {{ html.itemListRender(itemLst, lang)|safe }}
        
    {% endfor %}
    
</div>
<!---------------------------------------------------------------------------->
<!-- End of the file -->
<!---------------------------------------------------------------------------->
