/*----------------------------------------------------------------------------*/
/* (c) SIQO css definition */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Default Elements                                                           */
/*----------------------------------------------------------------------------*/
* {
  margin           :0;
  padding          :0px;
  border           :0px;
//  box-sizing: border-box;
}
/*----------------------------------------------------------------------------*/
html {
  color            :gray; 
  background       :url("struct_0002.jpg");
  width            :100%;
}
/*----------------------------------------------------------------------------*/
body {
  width            :1080px;
  margin           :auto;

  color            :gray; 
  background       :rgb(224,240,255);
  
  font-family      :verdana,tahoma, helvetica,sans-serif;
  font-size        :0.9em;
  overflow         :scroll;
}
/*----------------------------------------------------------------------------*/
.center {
  margin           : auto;
  padding          : 5px 0px 5px 0px;
  width            : 35%;
  border           : 0px;
}
/*----------------------------------------------------------------------------*/
/* Page Header Elements                                                       */
/*----------------------------------------------------------------------------*/
div.Break {
  background       :transparent;
  position         :relative;
  height           :6px;
}
/*----------------------------------------------------------------------------*/
div.Header {
  background       :url("struct_0004.jpg");
  position         :relative;
}
/*----------------------------------------------------------------------------*/
div.HeaderTitle
{
  position         :relative;
  float            :left;
  top              :0px;
  width            :80%;
  
}
/*----------------------------------------------------------------------------*/
div.HeaderComment
{
  text-align       :right;
}
/*----------------------------------------------------------------------------*/
/* Bar Menu Elements                                                          */
/*----------------------------------------------------------------------------*/
div.BarMenu
{
  background       :url("struct_0004.jpg");
  box-shadow       :0px 5px 10px rgba(0, 0, 0, 0.2) inset;

  position         :relative;
  height           :1.8em;
  border-top       :1px solid gray;
}
/*----------------------------------------------------------------------------*/
div.BarMenuItem
{
  color            :#002966; 

  font-family      :calibri,verdana,arial,sans-serif;
  font-size        :0.9em;

  position         :relative;
  display          :inline;
  float            :right;
  
  margin           :0px 3px 0px 3px;
  padding          :5px;
  cursor           :pointer;
}
/*----------------------------------------------------------------------------*/
div.BarMenuItem:hover, div.BarMenuLeft:hover
{
  color            :#660033; 
  text-decoration  :underline;
}
/*----------------------------------------------------------------------------*/
div.BarMenuItemWindow
{
  background       :#E0ECF3;
  opacity          :0.94;

  font-family      :calibri,verdana,arial,sans-serif;
  font-size        :0.9em;

  display          :none;
  margin           :0px 3px 0px 3px;
  padding          :15px;
  border           :1px solid #002966;
//  border-radius    :4px;
  cursor           :auto;
  
  position         :absolute;
  top              :100%;
  right            :1%;
  
  z-index          :111;
}
/*----------------------------------------------------------------------------*/
div.BarMenuLeft
{
  color            :#002966; 

  font-family      :calibri,verdana,arial,sans-serif;
  font-size        :0.9em;

  position         :relative;
  display          :inline;
  float            :left;
  
  margin           :0px 3px 0px 3px;
  padding          :5px;
  cursor           :pointer;
}
/*----------------------------------------------------------------------------*/
/* Structure Input Elements                                                   */
/*----------------------------------------------------------------------------*/
input.LoginControlBtn {
  color            :#061623; 
  background       :#F1F6FA;
  
  margin           :8px 6px 0px 0px;
  padding          :0px 2px 0px 2px;
  border           :1px solid #596380;

  font-family      :Calibri,helvetica,sans-serif;
  font-weight      :normal;
  font-size        :.9em;

  cursor           :pointer;
}
/*----------------------------------------------------------------------------*/
input[type="radio"]
{
  color            :#273327; 
  background       : none repeat scroll 0% 0% rgb(255, 255, 255);
  position         : relative;
  margin           :0px;
  padding          :6px;
  width            :13px;
  height           :13px;
  vertical-align   :center;
  border           :1px solid rgb(220, 220, 220);
  border-radius    :1px 1px 1px 1px;
  cursor           :pointer;
}
/*----------------------------------------------------------------------------*/
/* Stage Menu Elements                                                        */
/*----------------------------------------------------------------------------*/
div.StageMenu
{
  color            :#273327; 
  background       :url("struct_0004.jpg");
  position         :relative;
  left             :0px;
  top              :0px;
}
/*----------------------------------------------------------------------------*/
div.StageSelector
{
  color            :#273327; 
  background       :url("struct_0004.jpg");

  float            :left;
  height           :100%;
  width            :20%;
  overflow         :auto;
}
/*----------------------------------------------------------------------------*/
div.StageSelectorItem
{
  color            :#273327; 
  font-size        :1.0em;
  padding          : 6px 6px 6px 16px;
}
/*----------------------------------------------------------------------------*/
div.StageSelectorItem:hover
{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
}
/*----------------------------------------------------------------------------*/
div.StagePanel
{
  color            :#273327; 
  background       :url("struct_0004.jpg");

  position         :relative;
  height           :100%;
  width            :80%;
  overflow         :auto;
}
/*----------------------------------------------------------------------------*/
div.StageCourtain
{
  color            :white; 
  background       :#092234;
  opacity          :0.6;
}
/*----------------------------------------------------------------------------*/
/* Flah Elements                                                              */
/*----------------------------------------------------------------------------*/
div.Flash
{
  color            :#273327; 
  background       :url("struct_0004.jpg");
  position         :relative;
  left             :0px;
  top              :0px;
}
/*----------------------------------------------------------------------------*/
/* Content Elements                                                             */
/*----------------------------------------------------------------------------*/
div.Content
{
  color            :#273327; 
  background       :url("struct_0004.jpg");
  position         :relative;
  left             :0px;
  top              :0px;
  
  margin           :0px;
  padding          :5px;
}
/*----------------------------------------------------------------------------*/
div.Selector
{
  color            :#273327; 
  background       :url("struct_0004.jpg");
  
  float            :left;
  height           :100%;
  margin           :0px;
  overflow-x       :clip;
  overflow-y       :auto;

  width            :20%;
}
/*----------------------------------------------------------------------------*/
div.ForumItem
{
  color            :#273327; 
  background       :url("struct_0004.jpg");

  float            :left;
  height           :100%;
  margin           :0px;
  overflow-x       :clip;
  overflow-y       :auto;
  
  width            :60%;
}
/*----------------------------------------------------------------------------*/
/* Tirage Elements                                                            */
/*----------------------------------------------------------------------------*/
div.Tirage
{
  position         :relative;
  color            :gray; 
  
  background       :url("struct_0004.jpg");
  box-shadow       :0px 5px 10px rgba(0, 0, 0, 0.2) inset;
  height           :1.7em;
}
/*----------------------------------------------------------------------------*/
div.TirageItem
{
  color            :gray; 
  background       :transparent;
  font-family      :calibri,verdana,arial,sans-serif;
  font-size        :0.8em;
  display          :inline;
  float            :left;
  margin           :0px 3px 0px 3px;
  padding          :5px;
}
/*----------------------------------------------------------------------------*/
/* (c) SIQO css definition                                                    */
/*----------------------------------------------------------------------------*/
